torch==2.4.1
torchvision==0.19.1
diffusers==0.32.0
transformers==4.48.3
gsplat==1.5.2
einops
huggingface_hub==0.25.1
joblib==1.4.2
kornia==0.7.4
lightning==2.4.0
matplotlib==3.10.3
open3d
opencv_python
panda3d==1.10.15
pandas==2.3.0
pillow
prefetch_generator==1.0.3
pymesh==1.0.2
pytorch3d==0.7.8
Requests==2.32.4
retrying==1.3.4
scipy==1.15.3
setuptools==69.5.1
descartes==1.1.0
Shapely==2.1.1
skimage
tqdm
trimesh
gradio==5.4.0
